body {
    margin: 0 auto;
    height: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
#editor,
#compiled-markdown {
    display: inline-block;
    width: 49%;
    height: 100vh;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 1.5em;
}
#editor {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    background-color: #f6f6f6;
    font-size: 1em;
    font-family: 'Monaco', courier, monospace;
    padding: 1.5em;
}
code {
  color: #f66;
}
