/* Local font roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('./fonts/roboto-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/roboto-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}
/* Local font roboto-mono-italic - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-display: swap;
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Mono Italic'), local('RobotoMono-Italic'),
    url('./fonts/roboto-mono-v6-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/roboto-mono-v6-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */}

/* Globals */
html {
  color: #333;
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  height: 100%;}
body {
  margin: 0;
  height: 100%;}
.hide {
  display: none;}
.show {
  display: block;}

/* Overall layout */
.container {
  max-width: 1140px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;}
.header {
  box-sizing: border-box;
  margin: 3em 0;
  padding: 1px;}
.header img {
  float: left;
  margin: 21px 20px 0 0;}
@media (min-width: 1180px) {
  .container {
    padding: 0;
  }
}

/* Typography */
.title {
  font-size: 3em;
  margin-bottom: 0;}
.subtitle {
  color: #555;
  font-weight: normal;
  margin-top: 0;}
.highlighter {
  background-color: rgba(0,0,0,0.5);}

/* links */
a {
  border-bottom: 1px solid rgb(224, 214, 235);
  box-shadow: rgb(224, 214, 235) 0px -2px 0px 0px inset;
  color: rebeccapurple;
  margin-right: 0.2rem;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }
footer a {
  color: rgb(224, 214, 235);
  border-bottom: 1px solid rebeccapurple;
  box-shadow: rebeccapurple 0px -2px 0px 0px inset;}
a:hover {
  background: rgb(224, 214, 235);
  text-shadow: none;
  border: none; }
footer a:hover {
  background: rebeccapurple;}

/* article */
article {
  display: flex;
  flex-direction: column;
  margin: 6em 0;}
article img {
  width: 100%;
  max-width: 500px;}
article div.spacer { width: 4em; }
article p {
  font-size: 1.5em;}
@media (min-width: 1180px) {
  article {
    flex-direction: row;}
  article:nth-of-type(even) {
    flex-direction: row-reverse;}
  article img {
    width: 500px;}
}

/* Button */
button {
  background-color: rebeccapurple;
  border: none;
  color: white;
  display: block;
  font-size: 1em;
  margin: 0 auto 40px;
  padding: 10px;}
button:hover {
  background-color: #4b1a7f;}

/* Markdown viewer */
#editor,
#compiled-markdown {
  border: 1px solid #ccc;
  display: inline-block;
  width: 49%;
  height: 100vh;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 1.5em;}
#editor {
  border: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 1em;
  font-family: 'Roboto Mono', 'Monaco', courier, monospace;
  padding: 1.5em;}
code {
  color: #f66;}
#last-edit {
  color: #666666;
  font-style: italic;
  text-align: right;}

/* Footer */
footer {
  /* Gradient generated from https://www.louisbourque.ca/Color-Extractor/ */
  background-image: linear-gradient(to right, #614d72 0%, #74618b 50%, #4d3f68 75%, #292643 100%);
  background: url('./images/galaxy_360.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  padding: 2em;}
.inner-container {
  padding: 1em;}
@media (min-resolution: 2dppx), (min-width: 720px) {
  footer {
    background-image: url('./images/galaxy_720.jpg');}}
@media (min-width: 720px) and (min-resolution: 2ddpx) {
  footer {
    background-image: url('./images/galaxy_1366.jpg');}}
@media (min-width: 1366px) {
  footer {
    background-image: url('./images/galaxy_1366.jpg');}}
@media (min-width: 1366px) and (min-resolution: 2ddpx) {
  footer {
    background-image: url('./images/galaxy_1920.jpg');}}
@media (min-width: 1920px) {
  footer {
    background-image: url('./images/galaxy_1920.jpg');}}
